*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto',sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #C2C2C2;
}

.header .container{
    width: 1450px;
    margin: 0px auto;
    height: 80px;
    position: relative;
}

.header .container div.logo{
    width: 350px;
    float: left;
}

.header .container div.logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: #333;
    display: block;
    line-height: 80px;
}

.header .container div.contact-info{
    float: left;
    width: 790px;
    height: 80px;

}

.header .container div.contact-info ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.contact-info{
    position: absolute;
    right: 0;
}

.header .container div.contact-info ul li{
    display: inline-block;
    height: 80px;
    margin-left: 55px;
}

.header .container div.contact-info ul li .contact-icon{
    float: left;
    height: 80px;
    width: 40px;
    line-height: 80px;
}

.header .container div.contact-info ul li div.contact-text{
    float: left;
    height: 80px;
    color: rgba(0, 0, 0, 0.7);
}

.header .container div.contact-info ul li div.contact-text label{
    width: 100%;
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.contact-icon i{
    font-size: 22px;
    color: #333;
}

.header .container div.contact-info ul li a.register{
    text-decoration: none;
    display: block;
    color: #fff;
    width: 100px;
    border-radius: 40px;
    text-align: center;
    background: #333;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    float: left;
    margin-top: 20px;
}

.logup{
    margin-left: 90px;
}

.nav{
    width: 100%;
    background-image:linear-gradient(to right top, #dd4567, #d05295, #b167ba, #837ccf, #4d8bd3);
    height: 50px;
}

.nav .container{
    width: 1450px;
    margin: 0px auto;
}

.menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 740px;
}


.menu a:hover{
    color:#333;
}

.menu span:hover{
    color:#333;
}

.menu li{
    display: inline-block; 
}
/* bảng menu */
.item{
    text-decoration: none;
    height: 50px;
    display: block;
    line-height: 50px;
    color: #fff;
    padding-right: 40px;
    font-weight: 400;
    cursor: pointer;
}

.menu li:first-child .item{
    color:#333;
}

.form-search{
    width: 500px;
    float:right;
    right:80px;
    position: relative;
}

.keyword{
    width: 80%;
    font-size: 16px;
    border:1px solid #333;
    height:35px;
    margin-top: 7px;
    text-indent: 15px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    outline: none;
}

.btn-search{
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    top: 13px;
    right: 114px;
    background: transparent;
}

.btn-search i{
    font-size: 15px;
    color: #fff;
    cursor: pointer;  
}

.header__cart-icon {
    font-size: 30px;
    padding-left: 10px;
}


.slider {
    width: 100%;
    height: 450px;
    background-image: url(~/Content/assets/img/h1.jpeg);
    object-fit: cover;
    background-size: cover;
    margin: 100px auto;
    animation: slide 15s infinite;
}

@keyframes slide {
    25% {
        background: url(~/Content/assets/img/h1.jpeg);
        background-size: cover;
    }

    50% {
        background: url(~/Content/assets/img/h2.jpeg);
        background-size: cover;
    }

    75% {
        background: url(~/Content/assets/img/image1.jpg);
        background-size: cover;
    }

    100% {
        background: url(~/Content/assets/img/h3.jpeg);
        background-size: cover;
    }
}

.banner {
    width: 100%;
    height: 490px;
    overflow:hidden;
}

.banner img{
    width: 100%;
    object-fit:cover;
}
/* footer của trang web */
.grid {
    
    width: 1450px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}

.grid__column-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
    line-height: 30px;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.334%;
}

.footer {
    /* border-top: 4px solid var(--primary-color); */
    padding-top: 16px;
    width: 100%;
    background-color: #C2C2C2;
    margin-top: 50px;
    position: relative;
}

.footer__heading {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 2px double #333;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-item__link {
    text-decoration: none;
    font-size: 15px;
    color: #737373;
    display: flex;
    padding: 2px 0;
    align-items: center;
}

    .footer-item__link:hover {
        color: var(#333);
    }

.footer-item__icon {
    font-size: 16px;
    margin-right: 5px;
}

.footer__download {
    display: flex;
    margin-top: 20px;
}

    .footer__download img {
    }

.footer__download-app-img {
    height: 20px;
}

.footer__download-qr {
    width: 90px;
    height: 90px;
    border: 1px solid #333;
    margin-right: 16px;
}

.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__download-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #aaa5a5;
    /*margin-top: 42px;*/
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer-img-link {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 0 3px #d5d5d5;
}

.footer__heading {
    font-size: 20px;
}

